.card {
  background-color: #0d0d0d;
  color: whitesmoke;
  border-radius: 25px;
  margin-top: 3%;
  padding: 5% 5% 5% 5%;
  width: 400px;
  height: 300px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

@media only screen and (max-width: 920px) {
  .card {
    width: 320px;
  }

  .animeTitle,
  .animeQuote,
  .animeCharacter {
    font-size: 20px;
  }
}
