.card {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-color: #0D0D0D;
    background-attachment: fixed;
    color: whitesmoke;
    border-radius: 25px;;
    margin-top: 8%;
    padding: 5% 5% 5% 5%;
    width: 400px;
    height: 300px;
    overflow: auto;
}

::-webkit-scrollbar { 
    display: none; /* Chrome Safari */
}